In [22]:
10 + 15

25

In [2]:
print("Hello World!")

Hello World!

In [3]:
45 - 34

11

In [4]:
8 * 2

16

In [5]:
print("Rahul's age is", 45)

Rahul's age is 45

In [6]:
print("I have", 10, "mangoes and", 12, "bananas")

I have 10 mangoes and 12 bananas

In [7]:
emp_number = 1233
print("Employee Number:", emp_number)
emp_salary = 16745.50
emp_name = "Jerry Squaris"
print("Employee Salary and Name:", emp_salary, emp_name)
emp_salary = 23450.34
print("Updated Employee Salary:", emp_salary)

Employee Number: 1233
Employee Salary and Name: 16745.5 Jerry Squaris
Updated Employee Salary: 23450.34

In [8]:
customer_id = 101
print(type(customer_id))
customer_name = "John"
print(type(customer_name))
bill_amount = 675.45
print(type(bill_amount ))
x = 5.3 + 0.9j
print(type(x))
print(customer_id, customer_name, bill_amount)
print(x.real)
print(x.imag + 3)
Flag = True
print(type(Flag))
y = "False"

<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>
101 John 675.45
5.3
3.9
<class 'bool'>

In [9]:
bill_id = 101
customer_id = 1001
customer_name = "Rahul"
f_minor = False
bill_amount = 2000.50
print("Bill Id.="+str(bill_id))
print("Customer Id.="+str(customer_id))
print("Customer Name="+customer_name)
print("F_minor="+str(f_minor))
print("Bill Amount="+str(bill_amount))

Bill Id.=101
Customer Id.=1001
Customer Name=Rahul
F_minor=False
Bill Amount=2000.5

In [10]:
x=int(input("Enter first number="))
y=int(input("Enter second number="))
x=x + 4
y=y + 6
print(f"Sum = {str(x+y)}")

Enter first number=15
Enter second number=5
Sum = 30

In [11]:
a=4
b=5
print("Before Swapping")
print(f"a ={str(a)}")
print(f"b ={str(b)}")
a=a + b
b=a - b
a=a - b
print("After Swapping")
print(f"a ={str(a)}")
print(f"b ={str(b)}")

Before Swapping
a =4
b =5
After Swapping
a =5
b =4

In [12]:
a=int(input("Marks obtained in first subject:"))
b=int(input("Marks obtained in second subject:"))
c=int(input("Marks obtained in third subject:"))
print(f"Average Marks: {str((a+b+c)/3)}")
c=c + 20
print(f"Average Marks after: {str((a+b+c)/3)}")

Marks obtained in first subject:50
Marks obtained in second subject:60
Marks obtained in third subject:70
Average Marks: 60.0
Average Marks after: 66.66666666666667

In [13]:
r=10
print(f"Area of Cicle {str(3.14*r*r)}")
print(f"Perimeter of Circle {str(2*3.14*r)}")

Area of Cicle 314.0
Perimeter of Circle 62.800000000000004

In [14]:
no_of_hour=40
pay_rate=400
no_of_week=4
monthly_pay=no_of_hour*pay_rate*no_of_week
print(f"Monthly pay of the Employee:{monthly_pay}")

Monthly pay of the Employee:64000

In [15]:
for i in range(50,81):
    if i%2==0:
        print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80

In [16]:
a=int(input("Enter the range of natural no:"))
sum=0
for i in range(1,a + 1):
    sum=sum + i
print(sum)

Enter the range of natural no:25
325

In [19]:
n=int(input("Enter any number"))
check=True
for i in range(2,n):
    if n%i==0:
        print("Not Prime")
        check= False
        break
if(check==True):
    print("Prime")

Enter any number39
Not Prime

In [21]:
n=int(input("Enter the number of inputs"))
a=0
b=1
print(a)
print(b)
for i in range(1,n-1):
    c=a + b
    print(c)
    a=b
    b=c

Enter the number of inputs9
0
1
1
2
3
5
8
13
21